<heder class="header flex justify-between align-center font-semibold pb-3 mb-3">
  <div class="">
    <div class="flex items-center font-normal">
      <a href="#" class="">
        <img src="img/home_page.svg" alt="home">
      </a>
      <span class="mx-2">/</span>
      <a href="#" class="">Dashboard</a>
    </div>
    <div class="">Dashboard</div>
  </div>
  <div class="flex items-center">
    <a href="#" class="flex items-center mr-3">
      <img src="./img/user_icon.svg" class="block mr-3" alt="user">
      <span class="uppercase">logout</span>
    </a>
    <a href="#" class="mr-3">
      <img src="./img/settings_icon.svg" alt="settings">
    </a>
    <a href="#" class="mr-3">
      <img src="./img/bell-ring_icon.svg" alt="notifictions">
    </a>
  </div>
</heder>
